.header{
    background-color:slategrey;
    width: 100%;
    height: 120px; 
}
.linkHeader{
    font-size: 14px;
    float: right;
    margin-left: 5px;
    text-decoration: none;
    color:azure;
}
.linkHeader:hover{
    text-decoration: none;
    color: yellowgreen;
}
.quadrado{
    position: relative;
    margin: auto;
    width: 200px;
    height: 130px;
    background-color: darkblue;
    color:white
}
#layer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: whitesmoke;
    font-size: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}
.divLink{
    float: right;
    margin-top: 80px;
    margin-right: 30px;
}
#btn-navOpen{
    position: relative;
    bottom: 115px;
    left: 30px;
}
#btn-navClosed{
    position: relative;
    top: -300px;
    right: 600px;
}
#title{
    margin-left: 70px;
    margin-top: 150px;
}
.bloco-corousel-item{
    height: 500px;
    width: 1000px;
}
#meuCarroussel{
    float: left;
    left: 80px;
    top: 40px;

}
#social{
    float: right;
    font-size: 30px;
    margin-right: 50px;
    margin-top: 70px;
    text-decoration: none;
    list-style: none;
}
.social-item{
    margin-top: 25px;
}
#footer{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    width: 98%;
    clear:both;
}

#line-footer{
    float: left;
    width: 100%;
    height: 1px;
    background-color: darkgreen;
}
#dev{
    float: right;
    font-size: 13px;
    margin-right: 30px;
    margin-top: 3px;
}

.quadrado-faq{
    float: left;
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-top: 50px;
    
}
#clientes{
    color: black;
    text-decoration:none;
    float: left;
    margin-bottom: 40px;
}
#clientes:hover{
    font-weight: bold;
}
#phone{
    font-size: 13px;
    float: left;
    margin-top: 50px;
    margin-left: 420px;
}
#phone:hover{
    font-weight: bold;
}
#direitos{
    font-size: 12px;
    float:right;
    margin-top: 50px;
    margin-right: 150px;

}