body{
    margin:0;
    padding:0;
    display:grid;
    grid-template-columns: 30% 60% 20%; 
    grid-template-rows: 20% 60% 20%;
}
header{
    grid-column-start:1;
    grid-column-end:4 ;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:slategrey;
    overflow: visible;

}
.position-btn{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 250px;
}
.btn-navOpen,.btn-navClosed{
    font-size: 50px;
    transform-style:preserve-3d;
    backface-visibility: hidden;
    transition: transform 1s;
}
.flip{
    transform: rotateY(540deg);
}
.logo{
    width: 200px;
    background-color: darkblue;
    color:white;
    flex-shrink: 1;
}
.divLink{
    width: 250px;
    margin-right: 20px;
    align-self: flex-end;
}
.linkHeader{
    float: right;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    color:black;
}
.linkHeader:hover{
    text-decoration: none;
    color: white;
}
#layer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: whitesmoke;
    font-size: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}






section{
    grid-column-start:1;
    grid-column-end:4;
    background-color: violet;

    display: flex;
    flex-direction: row;  
}
@keyframes moveTitle{
    0%{top:500px;}
    100%{top:100px;}
}
#title-div{
    overflow: hidden;
}
#title-h1{
    width: 300px;
    height: 120px;
    margin: 0;
    padding: 0;
    left: 50px;
    top: 100px;
    
    position: relative;
    animation-name: moveTitle;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
#title-p{
    width: 300px;
    height: 150px;
    left: 50px;
    top: 200px;
    overflow: hidden;
    
    position: relative;
    animation-name: moveTitle;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes moveCarroussel{
    0%{left:1200px;}
    100%{left:80px;} 
}
#meuCarroussel{ 

    margin-top: 40px;

    animation-name:moveCarroussel;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
        
}
.bloco-corousel-item{
    width: 1000px;
    height: 500px;
}
#social{
    font-size: 30px;
    overflow: hidden;
}
#list-social{
    text-decoration: none;
    list-style: none;
}
@keyframes moveSocialItem{
    0%{right: 1200px;}
    100%{right:0px;}
    
}
.social-item{

    position: relative;
    animation-name: moveSocialItem;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    
}
i{
    display: flex;

    color: black;
}
#phone{
    display: inline;
    font-size: 13px;
}
#phone:hover{
    font-weight: bold;
}
#direitos{
/*     display: inline; */
    font-size: 12px;
}
.span{

}
footer{
    grid-column-start:1;
    grid-column-end:4;
    background-color:blue;

}
#footer{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    width: 98%;
    clear:both;
}
#line-footer{
    float: left;
    width: 100%;
    height: 1px;
    background-color: darkgreen;
}
#dev{
    float: right;
    font-size: 13px;
    margin-right: 30px;
    margin-top: 3px;
}
.quadrado-faq{
    float: left;
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-top: 50px;
}
#clientes{
    color: black;
    text-decoration:none;
    float: left;
    margin-top: 20px ;
    margin-bottom: 40px;
}
#clientes:hover{
    font-weight: bold;
}

